/*
	Custom Styles
*/
.loginContainer {
    margin: 10% auto;
    width: 50%;
}
#gameContainer{
	border-top: 10px solid #c7c7c7;
	width: 100%;
	height: 100vh;
	display: none;
	background-color: #E5DDD5;
}
.player {
	position: absolute;
    margin: 1em;
}
.player span{
	color: gray;
	font-weight: 700;
}